:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url(https://cdn.sspai.com/preorder/macintoshcharger/build/static/media/bg-pattern-o-70.065e2f533e7a1ecba782.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

#canvas {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 3000px;
}

.ssp {
  margin: 14px;
  padding-bottom: 16px;
  margin-top: 3000px;
  text-align: center;
  font-size: 12px;
}
